body {
  background-image: url('bc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#Fujaks {
  top : 50%;
  left: 1%;
  width: 70%;
  position: absolute;
}
#Trakais {
  top : 50%;
  left: 8%;
  width: 70%;
  position: absolute;
}
#Janka {
  top :50%;
  left: 15%;
  width: 70%;
  position: absolute;
}
#Naidigais {
  top : 50%;
  left: 22%;
  width: 70%;
  position: absolute;
}


#damagePlace {
  top : 10%;
  left: 40%;
  width: 150%;
  position: absolute;
}
#damageImpact {
  top : 10%;
  right: 35%;
  width: 15%;
  position: absolute;
}

/* vards1 */
#vards1 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  left: 1%;
  position: absolute;
}
#vards2 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  left: 8%;
  position: absolute;
}
#vards3 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  left: 15%;
  position: absolute;
}
#vards4 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  left: 22%;
  position: absolute;
}

#Enemy1 {
  top : 50%;
  right: 22%;
  width: 5%;
  position: absolute;
}
#Enemy2 {
  top : 50%;
  right: 15%;
  width: 5%;
  position: absolute;
}
#Enemy3 {
  top :50%;
  right: 8%;
  width: 5%;
  position: absolute;
}
#Enemy4 {
  top : 50%;
  right: 1%;
  width: 5%;
  position: absolute;
}

#sliktais1 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  right: 22%;
  position: absolute;
}
#sliktais2 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  right: 15%;
  position: absolute;
}
#sliktais3 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  right: 8%;
  position: absolute;
}
#sliktais4 {
  width:7%;
  height:6%;
  border:3px solid #000;
  font-size: 100%;
  text-align: center;
  background-color: rgba(191, 63, 191, 1 ) ;
  bottom: 8%;
  right: 1%;
  position: absolute;
}